.ProjectCard {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid white; */
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: whitesmoke;
}

.project-title {
    margin-bottom: 35px;
}

.project-screenshot-wrapper {
    width: 150px;
    height: 150px;
    border: 2px solid grey;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
}

.project-screenshot {
    width: 300px;
    margin-left: -70px;
    margin-top: -20px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.Project-icon {
    height: 25px;
}

.Project-description {
    text-align: center;
    padding: 5px;
}

.Project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Project-links > a {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .Project-description {
        font-size: 18px;
        padding: 10px;
    }
}