.About {
    text-align: end;
    width: 73vw;
    align-self: flex-end;
    margin-bottom: 20px;
}

.About > h2 { margin-bottom: 0; }

.social-icon {
    /* height: 27px; */
    width: 100px;
}

@media only screen and (min-width: 768px) {
    .About { 
        width: 50vw;
        font-size: 20px;
    }
    .About > h2 { font-size: 32px; }
}