main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-blurb {
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 25px;
}

.line {
  width: 95vw;
  height: 1px;
  background-color: #AF875E;
  margin: 15px 0;
}